#dayCards {
	position: relative;
	top: 20%;
	height: 60%;
	width: 100%;
	z-index: 0;
}

.card {
	position: relative;
	height: 60%;
	width: 20%;
	margin-left: 5%; margin-right: 5%;
	background-color: white;
	text-align: center;
	font-size: 600%;
}

